<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <title>MercadoLiebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/home.css">

</head>

<body>
    
<header>

    <div class="topHeader">
    <img src="images/logo-mercado-liebre.svg" alt="logoML">
    <p id="searchBar"> Lugar para poner la barra de búsqueda </p>
    <p id="compraCuotas"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito </p>
    </div>
    

    <nav id="navBar">
        <ul>
            <li><a href="https://ml-jimena.herokuapp.com/">Inicio</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
    </nav>
    
    <nav id="loginBar">
        <ul>
            <li><a href="https://ml-jimena.herokuapp.com/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
            <li><a href="https://ml-jimena.herokuapp.com/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
        </ul>
    </nav>
    
    <div class = "burger-menu">
        <i class = "fa fa-bars burger"></i>
    </div>

</header>
    
<main>
    
    <section class="lastVisit">
        <h2> Basado en tu última visita </h2>
        <article>
            <img src="images/img-cafetera-moulinex.jpg" alt="cafetera">
                <div class="productDetails">
                    <i class="fas fa-truck"></i>
                    <p id="price">$6.770</p>
                    <p id="discount">40% OFF</p>
                    <h3 id="productDescription">Cafetera Moulinex</h3>
                </div>
            </article>
            
            <article>
            <img src="images/img-macbook-pro-2019.jpg" alt="MacBook">
                <div class="productDetails">
                    <i class="fas fa-truck"></i>
                    <p id="price">$230.000</p>
                    <p id="discount">20% off</p>
                    <h3 id="productDescription">MacBook Pro 2019</h3>
                </div>
            </article>
    
            <article>
            <img src="images/img-samsung-galaxy-s10.jpg" alt="SamsungGalaxy">
                <div class="productDetails">
                    <i class="fas fa-truck"></i>
                    <p id="price">$70.500</p>
                    <p id="discount">10% off</p>
                    <h3 id="productDescription">Samsung Galaxy S10</h3>
                </div>
            </article>
    
            <article>
            <img src="images/img-tv-samsung-smart.jpg" alt="SamsungSmartTV">
                <div class="productDetails">
                    <i class="fas fa-truck"></i>
                    <p id="price">$23.200</p>
                    <p id="discount">5% off</p>
                    <h3 id="productDescription">SmartTv Samsung 43"</3>
                </div>
            </article>
    </section>

    <section class="onSale">
        <h2> Ofertas </h2>
        <article>
            <img src="images/img-cafetera-moulinex.jpg" alt="cafetera">
                <div class="productDetails">
                    <i class="fas fa-truck"></i>
                    <p id="price">$6.770</p>
                    <p id="discount">40% OFF</p>
                    <h3 id="productDescription">Cafetera Moulinex</h3>
                </div>
            </article>
            
            <article>
            <img src="images/img-macbook-pro-2019.jpg" alt="MacBook">
                <div class="productDetails">
                    <i class="fas fa-truck"></i>
                    <p id="price">$230.000</p>
                    <p id="discount">20% off</p>
                    <h3 id="productDescription">MacBook Pro 2019</h3>
                </div>
            </article>
    
            <article>
            <img src="images/img-samsung-galaxy-s10.jpg" alt="SamsungGalaxy">
                <div class="productDetails">
                    <i class="fas fa-truck"></i>
                    <p id="price">$70.500</p>
                    <p id="discount">10% off</p>
                    <h3 id="productDescription">Samsung Galaxy S10</h3>
                </div>
            </article>
    
            <article>
            <img src="images/img-tv-samsung-smart.jpg" alt="SamsungSmartTV">
                <div class="productDetails">
                    <i class="fas fa-truck"></i>
                    <p id="price">$23.200</p>
                    <p id="discount">5% off</p>
                    <h3 id="productDescription">SmartTv Samsung 43"</3>
                </div>
            </article>

    </section>

    </main>
    
    <footer>

        <article>
            <i class="fas fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de pago. ¡Y siempre es
                seguro!</p>
        </article>
        <article>
            <i class="fas fa-gift"></i>
            <h4>Envío gratis desde los $ 2.500</h4>
            <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de
                MercadoPuntos.</p>
        </article>
        <article>
            <i class="fas fa-user-shield"></i>
            <h4>Seguridad de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@.
            </p>
        </article>

        <section id="copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    
    </footer>
    
</body>

</html>