*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display:flex;
    flex-direction: column;
    font-family: 'Roboto';
    background-color: #ebebeb;
}

p{
    font-size: 12px;
}

header img {
    display: flex;
    width: 50%;
}

header{
    background-color: #EAC926;
}

header nav {
    visibility: hidden;
}

header nav ul li a {
    list-style: none;
    text-decoration: none;
    color: black;
}


main article img {
    display: flex;
    width: 50%;
}
 
#compraCuotas {
 text-align: center;
}

.burger-menu {
text-align: center;
}

div.burger-menu i{
    margin: 20px 0px;
    width: 40px;
    height: 40px;
    background-color: #0044AA;
    color: #FFF;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    
}

div.burger-menu i:hover{
    cursor: pointer;
    background-color: #0022AA;
}

main {
    width: 90%;
    margin: 0 auto;
}

main article{
    margin: 10px;
    padding: 15px;
    background-color: white;
    text-align: center;

}

main section article img {
    display: block;
    width: 100%;
}

div.productDetails {
    text-align: left;
    padding: 15px;
    border-top-width: 1px;
    border-top-color: #ebebeb;
    border-top-style: solid;
}

main section article i{
    display: block;
    color: #39b54a;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    border-radius: 50%;
}

#price {
    font-size: 18px;
}

main h2 {
    font-size: 24px;
    color: #666;
    text-align: left;
}

#discount {
    font-size: 16px;
    color: #39b54a;
}

main h3 {
    margin: 20px 0 px;
    visibility: hidden;
    font-size: 16px;
    color: #666;
}

footer {
    text-align: center;
}

footer article p {
    font-size: 16px;
}

footer i {
    size: 2em;
    color: #1259c3;
    margin-bottom: 10px;
}

#copyright {
    text-align: left;
    font-size: 12px;
}

@media screen and (min-width: 361px) {

main h3 {
    visibility: visible;
}

main article {
    -webkit-box-shadow: 1px 1px 5px 0px grey;
    -moz-box-shadow: 1px 1px 5px 0px grey;
    box-shadow: 1px 1px 5px 0px grey;
}

header nav {
    visibility: visible;
}

.burger-menu {
    visibility: hidden;
}
}

@media screen and (min-width: 769px) {

main h3 {
    visibility: visible;
}

main article {
    -webkit-box-shadow: 1px 1px 5px 0px grey;
    -moz-box-shadow: 1px 1px 5px 0px grey;
    box-shadow: 1px 1px 5px 0px grey;
}

header nav {
    visibility: visible;
}

.burger-menu {
    visibility: hidden;
}

}