*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display:flex;
    flex-direction: column;
    font-family: 'Roboto';
    background-color: #ebebeb;
}

p{
    font-size: 12px;
}

header{
    background-color: #EAC926;
}

div.topHeader{
    display: flex;
    flex-wrap: wrap;
    padding-left: 12px;
    padding-top: 8px;
    justify-content: center;
}

header img {
    width: 50%;
}

#searchBar {
    width: 50%;
    display: flex;
    justify-content: center;
}

header .topHeader #searchBar input {
    width: 60%;
    height: 32px;
    padding: 4px;
}

header .topHeader #searchBar button {
    width: 32px;
    height: 32px
}

#compraCuotas {
    margin-top: 24px;
}

header nav {
    display: none;
}

header nav ul li a {
    list-style: none;
    text-decoration: none;
    color: black;
}
 
#compraCuotas {
 text-align: center;
}

.burger-menu {
text-align: center;
}

div.burger-menu i{
    margin: 20px 0px;
    width: 40px;
    height: 40px;
    background-color: #0044AA;
    color: #FFF;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    
}

div.burger-menu i:hover{
    cursor: pointer;
    background-color: #0022AA;
}

#banner {
    width: 100%;
}

main {
    width: 90%;
    margin: 0 auto;
}

main section {
    margin-top: 20px;
    margin-bottom: 20px;
}

div.lastVisit,
div.onSale{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

main article{
    margin: 10px;
    padding: 15px;
    background-color: white;
}

main section article img {
    display: block;
    width: 100%;
}

div.productDetails {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 20px;
}

main section article i,
#discount{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    transition: width 2s, height 2s, transform 2s;
}

main section article:hover i{
    transform:rotateY(360deg);
}

#price {
    font-size: 18px;
    width: 30%;
}

main h2 {
    font-size: 24px;
    color: #666;
    text-align: left;
}

#discount {
    font-size: 16px;
    width: 70%;
    text-align: center;
}

main h3 {
    display: none;
    margin: 20px 0 px;
    font-size: 16px;
    color: #666;
}

main form {
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
}

.profile {
    display: inline-flex;
    flex-direction: row;
}

main form input {
    margin-bottom: 36px;
    padding: 12px;
    width: 70%;
    height: 36px;
    border-top: white;
    border-left: white;
    border-color: white;
    border-radius: 6px;
}

.titulo {
    font-weight: bolder;
    position: relative;
    right: 9%;
    margin-bottom: 10px;
}

#perfilUsuario {
    right:14%;
}

#categoria {
    right: 8%;
}

#fotoUsuario {
    font-weight: bolder;
    position: absolute;
    left: 19%;
}

#selFoto {
    position: relative;
    left: 12%;
    bottom: -24px;
}

main form button {
    margin-bottom: 40px;
    width: 70%;
    height: 36px;
    background-color: #0022AA;
    border-top: #0022AA;
    border-left: #0022AA;
    border-bottom: #0022AA;
    border-right: #0022AA;;
    border-radius: 6px;
    align-self: center;
    text-align: center;
    color: white;
}

.cajita {
    margin-bottom: 36px;
    padding: 12px;
    width: 12px;
    height: 12px;
}

#submitLogin:hover {
background-color: #666;
}

footer {
    text-align: center;
    background-color: white;
}

footer article {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer article p {
    font-size: 16px;
}

footer i {
    size: 2em;
    color: #1259c3;
    margin-bottom: 10px;
}

footer i:hover {
    color: #666;
}

.shoppingDescription {
    margin: 20px;
}

#copyright {
    text-align: left;
    font-size: 12px;
}

@media screen and (min-width: 361px) {

main article:hover h3 {
    display:initial;
}

main article {
    display:inline-block;
    width: 45%;
}

main article:hover {
    width: 45%;
    -webkit-box-shadow: 1px 1px 5px 0px grey;
    -moz-box-shadow: 1px 1px 5px 0px grey;
    box-shadow: 1px 1px 5px 0px grey;
}

div.topHeader img, #searchBar, #compraCuotas{
    width: 33%;
    align-self: center;
    margin-bottom: 20px;
    margin-top: 0px;
}

.titulo {
    font-weight: bolder;
    position: relative;
    right: 24%;
    margin-bottom: 10px;
}

#perfilUsuario {
    right: 26.5%;
}

#categoria {
    right: 24%;
}


#selFoto {
    position: relative;
    left: 40%;
    bottom: 14px;
}

header nav {
    visibility: visible;
    display: inline-flex;
}

header nav ul li {
    display: inline;
    padding: 6px;
}

.bottomHeader {
    display: flex;
    justify-content: space-between;
    margin: 20px;   
}

.burger-menu {
    display: none;
}
}

@media screen and (min-width: 769px) {

main article:hover h3 {
    display: initial;
}

main article {
    display: inline-block;
    width: 22%;
}

main article:hover {
    width: 22%;
    -webkit-box-shadow: 1px 1px 5px 0px grey;
    -moz-box-shadow: 1px 1px 5px 0px grey;
    box-shadow: 1px 1px 5px 0px grey;
}

div.topHeader img, #searchBar, #compraCuotas{
    width: 33%;
    align-self: center;
    margin-bottom: 20px;
    margin-top: 0px;
}

header .topHeader #searchBar input {
    width: 252px;
    padding: 4px;
}

header .topHeader #searchBar button {
    width: 30px;
}

header nav {
    visibility: visible;
    display: inline-flex;
}

header nav ul li {
    display: inline;
    padding: 6px;
}

main form input {
    width: 50%;
}

main form button {
    width: 50%;
}

.titulo {
    right: 18.4%;
}

#perfilUsuario {
    right: 20%;
}

#categoria {
    right: 18.5%;
}

#fotoUsuario {
    left: 28%;
}

.bottomHeader {
    display: flex;
    justify-content: space-between;
    margin: 20px;   
}

.burger-menu {
    display: none;
}

footer .shoppingDescription article {
    margin-left: 24px;
    margin-right: 24px; 
}

.shoppingDescription {
    display: flex;
    margin: 20px;
}

}